.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid grey;
}
.hero-image img {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  top: 0;
  overflow: hidden;
}
@media (max-width: 500px) {
  .hero-image img {
    width: 100%;
  }
}
.text-on-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 41, 83, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 984px;
  height: 159px;
  position: absolute;
  top: 380px;
  padding: 20px;
}
.text-on-image h2 {
  font: inherit;
  font-size: 2rem;
  margin: 0;
  color: white;
  margin-right: 724px;
  margin-top: 130px;
}
@media (max-width: 500px) {
  .text-on-image h2 {
    font-size: 1.2rem;
  }
}
.refugee-stories-main {
  width: 1024px;
  height: auto;
  background-color: #f6f6f7;
}
.refugee-stories-main .filter-stories {
  margin-left: 46px;
  margin-bottom: -3px;
  margin-top: 30px;
  color: red;
  font-size: 18px;
}
.refugee-stories-main .recent-title {
  margin-left: 40px;
  margin-top: 30px;
}
.refugee-stories-main .stories {
  padding: 40px;
}
.refugee-stories-main .stories .single-story {
  display: flex;
  margin-bottom: 35px;
}
.refugee-stories-main .stories .single-story .title-story {
  margin-left: 30px;
  line-height: 27px;
}
@media (max-width: 500px) {
  .refugee-stories-main .stories .single-story .title-story {
    margin-left: 0px;
    line-height: 23px;
    margin-top: 20px;
  }
}
.refugee-stories-main .stories .single-story .title {
  margin-top: 0px;
  color: #132953;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .refugee-stories-main .stories .single-story .title {
    margin-top: 0px;
    color: #132953;
    margin-right: -8px;
  }
}
.refugee-stories-main .stories .single-story .home-rm-btn {
  border: 1px solid red;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  color: red;
  font-size: 1.1rem;
}
.refugee-stories-main .stories .single-story .home-rm-btn:hover {
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .refugee-stories-main .stories .single-story .home-rm-btn {
    font-size: 1rem;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .refugee-stories-main .stories .single-story {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .refugee-stories-main {
    width: 100%;
  }
}
.contribute-img {
  width: 1024px;
  height: auto;
}
@media (max-width: 500px) {
  .contribute-img {
    max-width: 100%;
  }
}
.contrib-img-text {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 41, 83, 0.7));
  font-family: 'Roboto';
  color: white;
  position: absolute;
  top: 337.78px;
  width: 1024px;
  height: 200px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 500px) {
  .contrib-img-text {
    top: 354px;
    max-width: 100%;
  }
}
.contrib-img-text h1 {
  padding: 25px 30px;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .contrib-img-text h1 {
    font-size: 1.3rem;
  }
}
.donate-section {
  width: 1024px;
  height: auto;
  background-color: #f6f6f7;
}
@media (max-width: 500px) {
  .donate-section {
    max-width: 100%;
  }
}
.donate-section div {
  padding: 0px 30px;
}
.donate-section h2 {
  color: #132953;
}
.donate-section h3 {
  color: #D14704;
}
.donate-section p {
  color: #204488;
  font-size: 0.8rem;
}
.donate-section .donation-boxes {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .donate-section .donation-boxes {
    flex-direction: column;
  }
}
.donate-section .donation-boxes .box-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 500px) {
  .donate-section .donation-boxes .box-containers {
    padding: 10px 0px;
    border-bottom: 1px solid #D8D8D8;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-end;
  }
}
.donate-section .donation-boxes .donation-logo1 {
  padding: 0px 0px;
  width: 100px;
  height: auto;
}
@media (max-width: 500px) {
  .donate-section .donation-boxes .donation-logo1 {
    padding: 0px 30px 0px 0px;
  }
}
.donate-section .donation-boxes .donation-logo2 {
  width: 210px;
  height: auto;
  padding-bottom: 40px;
}
.donate-section .donation-boxes .donation-logo3 {
  width: 200px;
  height: auto;
  padding-bottom: 15px;
}
.donate-section .donation-boxes .donation-logo4 {
  width: 220px;
  height: auto;
  padding-bottom: 30px;
}
.donate-section .donation-boxes .donate-btn {
  border: 1px solid #D14704;
  border-radius: 4px;
  background-color: white;
  padding: 8px 0px;
  width: 112px;
  color: #D14704;
  font-size: 0.8rem;
  margin: 10px;
}
@media (max-width: 500px) {
  .donate-section .donation-boxes .donate-btn {
    margin: 0px 50px 0px 40px;
  }
}
.donate-section .donation-boxes .donate-btn:hover {
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
.volunteer-section {
  position: relative;
  background-image: url("/Assets/Images/Contribute/Rectangle.png");
  width: 1024px;
  height: 633px;
  padding: 0px;
  margin: 0px;
  z-index: 0;
}
.volunteer-section h2,
.volunteer-section h3,
.volunteer-section p {
  font: inherit;
  margin: 0px;
  color: white;
}
@media (max-width: 500px) {
  .volunteer-section h2,
  .volunteer-section h3,
  .volunteer-section p {
    padding: 2px 10px;
  }
}
@media (max-width: 500px) {
  .volunteer-section {
    max-width: 100%;
  }
}
.volunteer-section .opacity-box {
  background-image: linear-gradient(to bottom, rgba(19, 41, 83, 0.7), rgba(19, 41, 83, 0.7));
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 964px;
  height: 573px;
  position: absolute;
  top: 0px;
  padding: 30px;
}
@media (max-width: 500px) {
  .volunteer-section .opacity-box {
    max-width: 100%;
    padding: 0px;
    height: 636px;
  }
}
.volunteer-section .opacity-box .text-container {
  max-width: 800px;
}
.volunteer-section .opacity-box h2 {
  font: inherit;
  font-size: 1.65rem;
  margin: 0px 0px;
  color: white;
}
.volunteer-section .opacity-box h3 {
  font: inherit;
  font-size: 1rem;
  margin: 10px 0px;
  color: white;
}
.volunteer-section .opacity-box p {
  font-family: 'Roboto';
  font-size: 0.8rem;
  color: white;
  margin: 10px 0px;
}
.volunteer-section .opacity-box .map-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
}
@media (max-width: 500px) {
  .volunteer-section .opacity-box .map-container {
    max-width: 100%;
    margin: 0px 10px 20px 10px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.volunteer-section .opacity-box .map-container .map {
  border-radius: 8px;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .volunteer-section .opacity-box .map-container .map {
    height: 200px;
    width: 200px;
  }
}
.volunteer-section .opacity-box .map-container .map-link {
  border: 1px solid #D14704;
  border-radius: 4px;
  background-color: white;
  padding: 8px 0px;
  width: 250px;
  color: #D14704;
  font-size: 0.8rem;
  margin: 0px;
}
@media (max-width: 500px) {
  .volunteer-section .opacity-box .map-container .map-link {
    width: 170px;
    margin-left: 50px;
  }
}
.volunteer-section .opacity-box .map-container .map-link:hover {
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
.bg-img {
  /* The image used */
  background-image: url("../Assets/Images/signup/backgroundimage.png");
  width: 1024px;
  height: 900px;
  /* Add styles to the form container */
}
.bg-img * {
  box-sizing: border-box;
}
.bg-img .container {
  right: 0;
  margin-left: 67px;
  /* margin: 91px; */
  margin-top: 148px;
  max-width: 500px;
  padding: 23px;
  background-color: white;
  border-radius: 6px;
}
.bg-img .container input[type=text],
.bg-img .container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
}
.bg-img .container .btn {
  background-color: #ffffff;
  color: red;
  font-size: 1.2rem;
  padding: 9px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  border: 1px solid red;
}
.bg-img .container .btn:hover {
  opacity: 1;
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .bg-img .container {
    right: 0;
    margin: 10px;
    /* margin: 91px; */
    margin-top: 148px;
    max-width: 500px;
    padding: 23px;
    padding-bottom: -50px;
    background-color: white;
    border-radius: 6px;
  }
}
@media (max-width: 500px) {
  .bg-img {
    max-width: 100%;
  }
}
.modal {
  right: 0;
  margin-left: 67px;
  /* margin: 91px; */
  margin-top: 148px;
  max-width: 500px;
  padding: 23px;
  background-color: white;
  border-radius: 6px;
}
.modal .field {
  margin-bottom: 12px;
}
.modal .field .field__label {
  display: block;
  font-size: 1.0625rem;
}
.modal .field .field__input {
  width: 100%;
  padding: 8px;
  border: 0;
  border: 1px solid #000000;
  font-size: 18px;
  border-radius: 7px;
}
.modal .field--toggle {
  position: relative;
}
.modal .field--toggle .field__input {
  padding-right: 80px;
}
.modal .field__input:valid {
  border-bottom-color: #7ade9b;
}
.modal .button {
  background-color: #ffffff;
  color: red;
  font-size: 1.2rem;
  padding: 9px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  border: 1px solid red;
}
.modal .button:hover {
  opacity: 1;
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
.modal .button:active {
  background: #e59622;
}
.modal * {
  box-sizing: border-box;
}
.modal .select-css {
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  background-color: #fff;
}
@media (max-width: 500px) {
  .modal {
    right: 0;
    margin: 10px;
    /* margin: 91px; */
    margin-top: 148px;
    max-width: 500px;
    padding: 23px;
    padding-bottom: -50px;
    background-color: white;
    border-radius: 6px;
  }
}
.option {
  display: flex;
  align-items: center;
}
.field--toggle .option {
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 5px 8px;
  border-radius: 5px;
  background: #e5e5e5;
}
.field--toggle .option:hover {
  background: #d8d8d8;
}
.field--toggle .option:hover {
  background: #ccc;
}
.option__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.option__label {
  font-size: 18px;
  cursor: pointer;
}
.field--toggle .option__label {
  width: 42px;
  text-align: center;
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*
.carousel{
  position: relative;
  color:white;
  height:592px;
  padding-top:70px; //navbar hides behind carousel!!!!!!!!!!!!!!!
  }

.carousel .carousel-text {
  position: absolute;
  bottom: 1px;
  left: 51px;
}
*/
@media (max-width: 500px) {
  .carousel img {
    display: none;
  }
}
@media (max-width: 500px) {
  .container {
    width: 500px;
  }
}
.about-main {
  width: 1024px;
  height: auto;
  background-color: #f7f7f8;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 500px) {
  .about-main {
    width: 500px;
  }
}
.about-main h2 {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 8px;
  padding-left: 51px;
  color: #132953;
}
.about-main .about-students {
  color: #132953;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 450px;
  margin-left: 51px;
  margin-right: 51px;
}
@media (max-width: 500px) {
  .about-main .about-students {
    height: 1000px;
    flex-direction: column;
  }
}
.about-main .about-students .student {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
  height: 220px;
  width: 20%;
}
.about-main .about-students .student .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about-main .about-students .student h5,
.about-main p {
  margin: 0px;
}
.about-main .about-students .student .overlay {
  position: absolute;
  border-radius: 15px;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(20, 52, 113, 0.5);
}
.about-main .about-students .student:hover .overlay {
  opacity: 1;
}
.about-main .about-students .student img {
  border-radius: 15px;
  background-color: #f1f1f1;
  width: 150px;
  height: 150px;
  margin: 0px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
@media (max-width: 500px) {
  .about-main .about-content img {
    width: 500px;
    height: auto;
  }
}
.about-main .about-content {
  position: relative;
  color: white;
  height: 608px;
}
@media (max-width: 500px) {
  .about-main .about-content {
    width: 500px;
  }
}
.about-main .about-content .about-content-text {
  position: absolute;
  top: 8px;
  margin-left: 51px;
  margin-right: 51px;
}
.about-main .about-content .about-content-text p {
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.about-main .about-content .about-content-text h4 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.about-main .about-content .about-content-text .half {
  width: 48%;
}
@media (max-width: 500px) {
  .about-main .about-content .about-content-text .half {
    width: 100%;
  }
}
.about-main .image-holder {
  height: 608px;
  width: auto;
  position: relative;
}
@media (max-width: 500px) {
  .about-main .image-holder {
    width: 500px;
    height: 800px;
  }
}
.about-main .image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(19, 41, 83, 0.5);
  transition: all 0.3s linear;
}
@media (max-width: 500px) {
  .about-main .image-holder:before {
    width: 500px;
    height: 800px;
  }
}
footer {
  padding-top: 30px;
}
footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}
h3,
h2 {
  font-family: 'Roboto', sans-serif;
}
/* ABOUS US INDIVIDIDUAL PAGES*/
.about-main-indiv {
  background-color: #f7f7f8;
  margin-left: 50px;
  margin-right: 50px;
}
.about-main-indiv a,
.about-main-indiv p {
  color: #132953;
}
.about-main-indiv > img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.container2 {
  background-color: #f7f7f8;
  padding-bottom: 0px;
  width: 1024px;
}
@media (max-width: 500px) {
  .container2 {
    width: 500px;
  }
}
.box {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.box h2 {
  width: 200px;
  height: 30px;
  margin: 0px;
  color: #94390f;
  padding-bottom: 5px;
}
.box p {
  width: 100%;
  height: 100px;
  margin: 0px;
  color: #132953;
}
@media (max-width: 500px) {
  .box p {
    height: 100px;
  }
}
.box a {
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 30px;
}
.box > img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.about-box {
  padding-left: 25px;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 150px;
  width: 80%;
}
@media (max-width: 500px) {
  .about-box {
    width: 100%;
    padding-left: 0px;
    height: 230px;
  }
}
.article {
  padding-left: 487px;
  padding-right: 485px;
  margin-top: 10px;
  line-height: 23px;
}
.article .meta {
  font-weight: 700;
}
.text-image {
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(19, 41, 83, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 984px;
  height: 159px;
  position: absolute;
  top: 401px;
  padding: 20px;
  color: white;
}
.img-text-sub {
  font-size: 1.3rem;
}
.img-text-title {
  font-size: 1.9rem;
}
.article-title {
  padding-left: 42px;
}
.top-bar {
  font: inherit;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  width: 1024px;
  background-color: rgba(19, 41, 83, 0.75);
  opacity: 75%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #5d679085;
}
.top-bar .top-left {
  align-items: center;
  cursor: pointer;
  display: flex;
}
.top-bar .top-left .logo {
  width: 38px;
  height: 38px;
  padding: 1px 15px;
}
.top-bar .top-left .logo-text {
  color: white;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .top-bar .top-left {
    align-items: center;
    display: flex;
    margin-left: 74px;
  }
}
.top-bar .navigation {
  display: flex;
  align-items: center;
}
.top-bar .navigation #active-page {
  border-bottom: 2px solid #D14704;
}
.top-bar .navigation a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  Padding: 0px 18px;
  border-left: 1px solid grey;
  vertical-align: baseline;
}
@media (max-width: 500px) {
  .top-bar .navigation a {
    padding-bottom: 7px;
    Padding: 8px 0px;
    justify-content: center;
    border-bottom: 1px solid grey;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .top-bar .navigation {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .top-bar {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    opacity: 100%;
    position: relative;
  }
}
.carousel img {
  width: 100%;
  height: auto;
}
.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1024px;
  top: 0;
  overflow: hidden;
}
.carousel .buttons {
  display: flex;
  width: 1024px;
  height: 54px;
  justify-content: space-between;
  position: absolute;
}
@media (max-width: 500px) {
  .carousel .buttons {
    width: 100%;
  }
}
.carousel .buttons .left-button,
.carousel .buttons .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  padding-bottom: 4px;
  color: white;
  background-color: rgba(19, 41, 83, 0.75);
  opacity: 0.5;
  font-size: 40px;
  position: relative;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
.carousel .buttons .left-button:hover,
.carousel .buttons .right-button:hover {
  color: grey;
  border: 2px solid grey;
}
.carousel .buttons .left-button {
  border-radius: 0px 7px 7px 0px;
}
.carousel .buttons .right-button {
  border-radius: 7px 0px 0px 7px;
}
.carousel .img-text {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 41, 83, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 984px;
  height: 180px;
  position: absolute;
  top: 380px;
  padding: 20px;
}
@media (max-width: 500px) {
  .carousel .img-text {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    top: 405px;
    padding: 0px;
    /* margin-left: 20px; */
  }
}
.carousel .img-text h2 {
  font: inherit;
  font-size: 1.65rem;
  margin: 0;
  color: white;
}
@media (max-width: 500px) {
  .carousel .img-text h2 {
    font-size: 1.2rem;
    padding: 15px 0px 5px 10px;
  }
}
.carousel .img-text p {
  font: inherit;
  font-size: 0.9rem;
  color: white;
  margin: 10px 0px;
}
@media (max-width: 500px) {
  .carousel .img-text p {
    display: none;
  }
}
.carousel .img-text .img-readmore-btn {
  border: 1px solid #D14704;
  border-radius: 4px;
  font: inherit;
  font-size: 0.9rem;
  color: #D14704;
  background-color: white;
  padding: 10px 10px;
  margin: 0;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
}
.carousel .img-text .img-readmore-btn:hover {
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  .carousel .img-text .img-readmore-btn {
    font-size: 0.7rem;
    width: 70px;
    padding: 7px 7px;
    margin: 0px 0px 0px 10px;
  }
}
.carousel .img-text .dots {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .carousel .img-text .dots {
    margin-bottom: 10px;
  }
}
.carousel .img-text .dots .circle {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: white;
}
@media (max-width: 500px) {
}
@media (max-width: 500px) {
  .carousel .img-text .snippet {
    margin-top: 54px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.carousel a {
  text-decoration: none;
}
footer {
  height: 98px;
  width: 1024px;
  background-color: #132953;
  color: white;
}
footer p {
  font-size: 0.75rem;
  padding: 5px 30px;
}
@media (max-width: 500px) {
  footer p {
    font-size: 0.7rem;
    padding: 2px 48px;
  }
}
@media (max-width: 500px) {
  footer {
    width: 100%;
    padding-bottom: 30px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}
body h1 {
  font-size: 2rem;
  margin: 0px;
}
body .home-stories {
  width: 1024px;
  height: auto;
  background-color: #f6f6f7;
}
body .home-stories .recent-title {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 1.8rem;
  color: #204488;
}
body .home-stories .recent-stories {
  padding: 40px;
  margin-top: -55px;
}
body .home-stories .recent-stories .single-story {
  display: flex;
  margin-bottom: 35px;
}
body .home-stories .recent-stories .single-story .title-story {
  margin-left: 30px;
  line-height: 27px;
}
body .home-stories .recent-stories .single-story .title-story .ver-line {
  font-size: 2rem;
  color: #b4c1da;
  vertical-align: middle;
  padding: 3px;
}
@media (max-width: 500px) {
  body .home-stories .recent-stories .single-story .title-story {
    margin-left: 0px;
    line-height: 23px;
    margin-top: 20px;
  }
}
body .home-stories .recent-stories .single-story .title {
  margin-top: 0px;
  color: #132953;
  font-size: 1.5rem;
  font-weight: normal;
}
@media (max-width: 500px) {
  body .home-stories .recent-stories .single-story .title {
    margin-top: 0px;
    color: #132953;
    margin-right: -8px;
  }
}
body .home-stories .recent-stories .single-story .home-rm-btn {
  border: 1px solid red;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  color: red;
  font-size: 1.1rem;
}
body .home-stories .recent-stories .single-story .home-rm-btn:hover {
  background-color: #D14704;
  color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  body .home-stories .recent-stories .single-story .home-rm-btn {
    font-size: 1rem;
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .home-stories .recent-stories .single-story {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .home-stories .recent-stories .single-story .home-img {
    height: 238px;
  }
}
@media (max-width: 500px) {
  body .home-stories {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
