.refugee-stories-main {
  width: 1024px;
  height: auto;
  background-color: #f6f6f7;
}
.refugee-stories-main .filter-stories {
  margin-left: 46px;
  margin-bottom: -3px;
  margin-top: 30px;
  color: red;
  font-size: 18px;
}
.refugee-stories-main .recent-title {
  margin-left: 40px;
  margin-top: 30px;
}
.refugee-stories-main .stories {
  padding: 40px;
}
.refugee-stories-main .stories .single-story {
  display: flex;
  margin-bottom: 35px;
}
.refugee-stories-main .stories .single-story .title-story {
  margin-left: 30px;
  line-height: 27px;
}
.refugee-stories-main .stories .single-story .title {
  margin-top: 0px;
  color: #132953;
  font-size: 1.2rem;
}
.refugee-stories-main .stories .single-story .home-rm-btn {
  border: 1px solid red;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  color: red;
  font-size: 1.1rem;
}
.carousel {
  text-align: center;
  color: white;
  height: 420px;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.about-main {
  width: 1024px;
  height: auto;
}
.about-main .about-students {
  background-color: lightgrey;
  color: #132953;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-main .about-students .student {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 150px;
  height: 300px;
}
.about-main .about-students .student a > img {
  border-radius: 15px;
  background-color: #f1f1f1;
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.about-main .about-content {
  position: relative;
  color: white;
  height: 608px;
}
.about-main .about-content .about-content-text {
  position: absolute;
  top: 8px;
  margin-left: 51px;
  margin-right: 51px;
}
.about-main .about-content .about-content-text p {
  font-size: 14px;
  margin-bottom: 15px;
}
.about-main .about-content .about-content-text h4 {
  margin-bottom: 0px;
}
.about-main .about-content .about-content-text .half {
  width: 45%;
}
.about-main .image-holder {
  height: 608px;
  width: auto;
  position: relative;
}
.about-main .image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(19, 41, 83, 0.5);
  transition: all 0.3s linear;
}
footer p {
  margin-top: 0px;
}
h4,
h3,
h2,
p {
  font-family: 'Roboto', sans-serif;
}
/* ABOUS US INDIVIDIDUAL PAGES*/
.about-main-indiv {
  background-color: lightgray;
  margin-left: 50px;
  margin-right: 50px;
}
.about-main-indiv > img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.container2 {
  background-color: lightgray;
  padding-bottom: 0px;
}
.box {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.box h2 {
  width: 200px;
  height: 40px;
  margin: 0px;
}
.box p {
  width: 50%;
  height: 80px;
  margin: 0px;
}
.box > img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  padding-right: 8%;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  width: 1024px;
  background-color: rgba(19, 41, 83, 0.75);
  opacity: 75%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #5d679085;
}
.top-bar .top-left {
  align-items: center;
  display: flex;
}
.top-bar .top-left .logo {
  width: 38px;
  height: 38px;
  padding: 1px 15px;
}
.top-bar .top-left .logo-text {
  color: white;
  font-size: 1.5rem;
}
.top-bar .navigation {
  display: flex;
  align-items: center;
}
.top-bar .navigation a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  Padding: 0px 18px;
  border-left: 1px solid grey;
  vertical-align: baseline;
}
.carousel img {
  width: 1024px;
  height: auto;
}
footer {
  height: 98px;
  width: 1025px;
  background-color: #132953;
  color: white;
}
footer p {
  font-size: 0.75rem;
  padding: 12px 30px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}
body h1 {
  font-size: 2rem;
  margin: 0px;
}
body .home-stories {
  width: 1024px;
  height: auto;
  background-color: #f6f6f7;
}
body .home-stories .recent-title {
  margin-left: 40px;
  margin-top: 30px;
}
body .home-stories .recent-stories {
  padding: 40px;
}
body .home-stories .recent-stories .single-story {
  display: flex;
  margin-bottom: 35px;
}
body .home-stories .recent-stories .single-story .title-story {
  margin-left: 30px;
  line-height: 27px;
}
body .home-stories .recent-stories .single-story .title {
  margin-top: 0px;
  color: #132953;
  font-size: 1.2rem;
}
body .home-stories .recent-stories .single-story .home-rm-btn {
  border: 1px solid red;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  color: red;
  font-size: 1.1rem;
}
