.top-bar {
  display: flex;
  height: 50px;
  width: 1024px;
  background-color: rgba(19, 41, 83, 0.75);
}
.top-bar .navigation a {
  text-decoration: none;
  color: grey;
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'PT Sans', sans-serif;
}
