
    
.carousel{
  text-align: center;
  color: white;
  height: 420px;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.about-main{
    width: 1024px;
    height: auto;
    .about-students{
    background-color: lightgrey;
    color:@content-title-font;

    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
    }
    .about-students .student{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: row;
      width: 150px;
      height: 300px;
      
    }
    .about-students .student a >img{
      
        border-radius: 15px;
        background-color: #f1f1f1;
        width: 150px;
        height: 150px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
    .about-content{
      //background-color: rgba(19,41,83,0.5)
      position: relative;
      color:white;
      height:608px;
    
  
        .about-content-text{
        position: absolute;
        top: 8px;
        margin-left: 51px;
        margin-right: 51px;
          p{
          font-size: 14px;
          margin-bottom: 15px;

        }
        h4{
          margin-bottom: 0px;
        }
        .half{
          width: 45%;
        }

}
    }
    .image-holder {
      height: 608px;
      width: auto;
      position:relative; 
    }    
    .image-holder:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(19,41,83,0.5);
      transition: all .3s linear;
    }
}

footer p{
  margin-top:0px;
}
h4,h3,h2,p{
  font-family: 'Roboto', sans-serif;
}

/* ABOUS US INDIVIDIDUAL PAGES*/
.about-main-indiv{
  background-color: lightgray;
margin-left: 50px;
margin-right: 50px;

}
.about-main-indiv > img{
width: 150px;
height: 150px;
border-radius: 15px;

}
.container2{
  background-color: lightgray;
  padding-bottom: 0px;
}
.box{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;  
  h2{
    width: 200px;
    height: 40px;
    margin: 0px;
  }
  p{
    width: 50%;
    height:80px;
    margin: 0px;

  }
}
.box > img{

  width: 150px;
  height: 150px;
  border-radius: 15px;
  padding-right: 8%;
}