.article {
    padding-left: 487px;
    padding-right: 485px;
    margin-top: 10px;
    line-height: 23px;

    .meta {
        font-weight: 700;
    }
}

.text-image {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(19, 41, 83, 0.8));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 984px;
    height: 159px;
    position: absolute;
    top: 401px;
    padding: 20px;
    color: white;
}

.img-text-sub {
    font-size: 1.3rem;
}

.img-text-title {
    font-size: 1.9rem;
}

.article-title {
    padding-left: 42px;
}