.contribute-img {
    width: 1024px;
    height: auto;
}

.donate-section {
    width: 1024px;
    height: auto;
    background-color: #f6f6f7;
    div {
        padding: 0px 30px;
    }
    h2 {
        color: @content-title-font;
    }
    
    h3 {
        color: @dark-orange;
    }    
    p {
        color: @content-font;
        font-size: 0.8rem;
    }
    .donation-boxes {
        display: flex;
        padding-bottom: 20px;
        justify-content: flex-start;
        .box-containers {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 10px 0px 0px;
        }
        .box {
            background-color: @light-grey;
            height: 112px;
            width: 112px;
            border: 1px solid grey;
            border-radius: 8px;
            padding: 0px;
        }
        .donate-btn {
            border: 1px solid @dark-orange;
            border-radius: 4px;
            background-color: white;
            padding: 8px 0px;
            width: 112px;
            color: @dark-orange;
            font-size: 0.8rem;
            margin: 10px;
        }
    }
}

.volunteer-section {
    background-image: url("/Assets/Images/Contribute/Rectangle.png");
    background-size: cover;
    width: 1024px;
    height: 633px;
    padding: 0px;
    margin: 0px;
    p {
        margin: 0px;
    }
}
.opacity-box {
    background-color: @footer-background;
    opacity: 0.5;
    height: 100%;
}




