.contribute-img {
    width: 1024px;
    height: auto;
}

.donate-section {
    width: 1024px;
    height: auto;
    background-color: #f6f6f7;
    div {
        padding: 0px 30px;
    }
    p {
        color: @content-font;
        font-size: 0.8rem;
    }
    .donation-boxes {
        display: flex;
        padding-bottom: 20px;
        justify-content: flex-start;
        .box-containers {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 10px 0px 0px;
        }
        .box {
            background-color: @light-grey;
            height: 112px;
            width: 112px;
            border: 1px solid grey;
            // margin-right: 20px;
            border-radius: 8px;
            padding: 0px;
        }
        .donate-btn {
            border: 1px solid red;
            border-radius: 4px;
            background-color: white;
            padding: 8px 20px;
            color: red;
            font-size: 0.8rem;
            margin: 10px;
        }
    }
}

h2 {
    color: @content-title-font;
}

h3 {
    color: @dark-orange;
}

