@import './variables.less';
@import './mixins.less';
@import './components/TopBar/TopBar.less';


// Import fonts, components,  and any other .less files here

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'PT Sans', sans-serif;
}