@import "variables.less";
@import "mixins.less";
@import "refugee.less";
@import "about.less";
@import "../Components/TopBar/TopBar.less";
@import "../Components/Carousel/Carousel.less";
@import "../Components/Footer/Footer.less";



// Import fonts, components,  and any other .less files here

// Start of CSS Reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    
    h1 {
        font-size: 2rem;
        margin: 0px;
    }

    .home-stories {
        width: 1024px;
        height: auto;
        background-color: #f6f6f7;

        .recent-title {
            margin-left: 40px;
            margin-top: 30px;
        }

        .recent-stories {
            padding: 40px;

            .single-story {
                display: flex;
                margin-bottom: 35px;

                .title-story {
                    margin-left: 30px;
                    line-height: 27px
                }

                .title {
                    margin-top: 0px;
                    color: @content-title-font;
                    font-size: @story-title-font-size;
                }

                .home-rm-btn {
                    border: 1px solid red;
                    border-radius: 4px;
                    background-color: white;
                    padding: 10px;
                    color: red;
                    font-size: 1.1rem;
                }
            }
        }

    }
}