@nav-background: rgba(19, 41, 83, 0.75);
@footer-background: #132953;
@content-title-font: #132953;
@content-font: #204488;
@story-title-font-size: 1.5rem;
@font-family: 'Roboto';

@mobile: ~"(max-width: 500px)";