.carousel img {
    width: 100%;
    height: auto;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    top: 0;
    overflow: hidden;

    // @media(min-width: 1200px){
    //   width: 1200px;
    // }
    .buttons {
        display: flex;
        // border: 1px solid red;
        width: 1024px;
        height: 54px;
        justify-content: space-between;
        position: absolute;
        // top: 40%;
        @media @mobile {
            top: 65%;
        }

        .left-button,
        .right-button {
            .flex(center);
            padding-bottom: 4px;
            color: white;
            background-color: @nav-background;
            opacity: 0.5;
            font-size: 40px;
            position: relative;
            width: 30px;
            height: 50px;
            cursor: pointer;

            &:hover {
                color: grey;
                border: 2px solid grey;
            }
        }

        .left-button {
            border-radius: 0px 7px 7px 0px;
        }

        .right-button {
            border-radius: 7px 0px 0px 7px;
        }

        @media @mobile {
            width: 100%;
            // top: 87%;
        }
    }

    .img-text {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 41, 83, 0.8));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 984px;
        height: 180px;
        // border: 1px solid red;
        position: absolute;
        top: 380px;
        padding: 20px;

        @media @mobile {
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            position: absolute;
            top: 405px;
            padding: 0px;
            // margin-top: -107px;
            // padding-top: 34px;
            // padding-left: 50px;
            // padding-right: -76px;
            /* margin-left: 20px; */
        }

        h2 {
            font: inherit;
            font-size: 1.65rem;
            margin: 0;
            color: white;

            @media @mobile {
                font-size: 1.2rem;
                padding: 15px 0px 5px 10px;
            }
        }

        p {
            font: inherit;
            font-size: 0.9rem;
            color: white;
            margin: 10px 0px;

            @media @mobile {
                display: none;
            }
        }

        .img-readmore-btn {
            border: 1px solid @dark-orange;
            border-radius: 4px;
            font: inherit;
            font-size: 0.9rem;
            color: @dark-orange;
            background-color: white;
            padding: 10px 10px;
            margin: 0;
            width: 110px;
            .flex(center);

            &:hover {
                background-color: #D14704;
                color: white;
                cursor: pointer;

            }

            @media @mobile {
                font-size: 0.7rem;
                width: 70px;
                padding: 7px 7px;
                margin: 0px 0px 0px 10px;
            }
        }

        .dots {
            // border: 2px solid red;
            width: 100px;
            display: flex;
            justify-content: space-around;
            @media @mobile {
                margin-bottom: 10px;
            }

            .circle {
                height: 7px;
                width: 7px;
                border-radius: 50%;
                background-color: white;
            }

            @media @mobile {
                // margin-right: 87px;
            }

        }


        .snippet {

            @media @mobile {
                margin-top: 54px;
                width: 100%;
            }
        }


    }

    @media @mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    a {
        text-decoration: none;
    }
}