
.top-bar {
    display: flex;
	height: 50px;
	width: 1024px;
    background-color: rgba(19,41,83,0.75);
    .navigation {
        a {
            text-decoration: none;
            color: grey;
        }
    }
}
